* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
}
.container {
    display: grid;
    grid-template-rows: 15% 1fr 15%;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
    height: 100vh;
    gap: 10px;
}