.footer {        
    background-color: black;
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    
}
.footer div {
    flex: 1;
}

.footerBox1 {    
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.footerBox1 img {    
    height: 60px;
}

.footerBox2 {       
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerBox2 img {
    height: 60px;
}

.footerBox2__Title1, .footerBox2__Title2{    
    color: white;    
    font-family: Monotype Corsiva;
}

.item {
    cursor: pointer;
}