.header {    
    border: 2px solid rgb(130, 121, 121);
    background: black;
    grid-area: header;
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 20% 80%;

}


.header img {
    height: 80px;
    border-radius: 50%;
}

.menu {
      
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.menu a {
    color: rgb(203, 200, 200);
    text-decoration: none;
    font-family: Monotype Corsiva;
    padding: 15px 45px 15px 45px;
}

.menu .menu__title:hover {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    box-shadow: inset 0 0 10px whitesmoke;
   
}


.menu__title {
    font-size: x-large;
    border: 2px solid transparent;
    transition: all 0.4s;
}