.h1 {
    font-family: Comic Sans MS;

}

.moto {
    width: 75%;
    height: 300px;
    background-color: rgb(29, 26, 26);
}

img {
    height: 280px;
    width: 100%;
}

.proect {
    width: 85%;
    height: 281px;
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}